@mainColor: black;

@bgColor : #DDD;
@txtColor: #333;

// Text Variables
@fsize: 16px;

// SlideShow Variables
@slideShow-width : 960px;
@slideShow-height: 300px;
// SlideShow Colors
@labelColor      : #7f8c8d;
@labelHover      : #bdc3c7;
@labelSelect     : #CFCFCF;

@itemBackground : #ecf0f1;


// Utilities
@btnColor: #3A1996;
@btnText: #CDCDCD;
@btnShadow: darken(@btnColor, 30);